@font-face { font-family: Bradley; src: url(BRADHITC.TTF); } 

body {
    font-family:"Bradley";
    font-size: 20px;
}

#rulesWrapper{
    /*margin-top:30px;*/
}
#rules {

    /*width: 60%;*/
}



#rules thead th{
    text-align: left;
}

form label {
    width: 6em;
    display: block;
    float: left;

}

form input {
    width:150px;
    margin-bottom: 5px;
}

form select {
    width:155px;
}

form input[type="button"]{
    width:280px;
}


.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}